<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demonstration Email Signature Generator | John Allen</title>
    <meta name="robots" content="noindex,nofollow">
    

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Adding App Styles-->
    <link rel="stylesheet" href="./css/styles.css?v=1.2">
</head>
<body>
    <div class="body-inner">
    <div class="wrapper">

        <h1 class="primary-title">Demonstration<span>Email Signature Generator</span></h1>


        <div class="app-wrapper">

            <!-- Lets Start This Up! -->
            
            <div class="" id="app">          
                
                <div class="app-right">

                    <div class="step-2">
                        <h2>STEP 2</h2>
                        <ol>                        
                            <li>Copy Desired Format</li>
                            <li>Paste signature into your email client</li>
                        </ol>                          
                    </div>
                    
                    <div class="email-preview">
                        <div class="email-preview__inner">

                                <email-template v-bind:preview="true" v-bind:preview-data="preview" v-bind:path="APP_PATH"></email-template>

                        </div>
                    </div>
                    
                    <br>

                    <button class="button button--copy" v-on:click="copyHTMLSignature(preview.id)">Copy HTML Code</button>
                    <button class="button button--copy" v-on:click="copyRichSignature(preview.id)">Copy Rich Text</button>

                    <br>
                    <small>Note: Outlook requires the "Rich Text" format<br>
                        <a href="https://support.office.com/en-us/article/create-and-add-a-signature-to-messages-8ee5d4f4-68fd-464a-a1c1-0e1c80bb27f2" target="_blank">Click here for instructions to set your signature in Outlook</a><br>
                        <a href="https://support.office.com/en-us/article/create-and-add-an-email-signature-in-outlook-com-776d9006-abdf-444e-b5b7-a61821dff034" target="_blank">Click here for instructions to set your signature in Outlook.com</a>
                    </small>
                </div> <!-- .app-right -->
        
        
                <div class="app-left">                     

                    <ul class="app-row team-list" id="team-list">    
                        <div class="step-1">
                            <h2>STEP 1</h2>
                            <ul class="search-wrapper step-1">
                                <li>Filter List: <input class="search" placeholder="Type Your Name Here" /></li>
                                <li>Select Your Signature</li>
                            </ul>               
                        </div>

                        <ul class="list"> 

                            <li class="app-output email-selection" v-for="email in apiInfo" :key="email.id">

                                <p v-if="email['post-meta-fields']['_hc_email_name'] !== undefined" class="name">{{ email['post-meta-fields']['_hc_email_name'][0] }}</p>
                                <p v-else class="name">Incomplete Data: {{ email.title.rendered }}</p>              
                            
                                <p v-if="email._embedded !== undefined && email._embedded['wp:featuredmedia'] !== undefined && email._embedded['wp:featuredmedia']['0'] !== undefined && email._embedded['wp:featuredmedia']['0']['media_details'] !== undefined
								&& email._embedded['wp:featuredmedia']['0']['media_details']['sizes'] !== undefined && email._embedded['wp:featuredmedia']['0']['media_details']['sizes']['hc-email-signature-thumbnail'] !== undefined">
                                    <img :src="email._embedded['wp:featuredmedia']['0']['media_details']['sizes']['hc-email-signature-thumbnail'].source_url" :alt="email['post-meta-fields']['_hc_email_name'][0]">
                                </p>
								<p v-else-if="email._embedded !== undefined && email._embedded['wp:featuredmedia'] !== undefined && email._embedded['wp:featuredmedia'][0] !== undefined 
									&& email._embedded['wp:featuredmedia'][0]['link'] !== undefined">
                                    <img :src="email._embedded['wp:featuredmedia'][0]['link']" :alt="email['post-meta-fields']['_hc_email_name'][0]">
                                </p>
                                <p v-else>
                                    <img :src="'./images/profiles/default.jpg'" height="70" width="70" alt="Placeholder Image">
                                </p>
                            
                                <div v-if="email['post-meta-fields']['_hc_email_name'] !== undefined">
                                    <button class="button button--preview" v-on:click="previewEmailSignature(email.id)">Select Signature</button>                
                                </div>
                                
                            </li>  <!-- .email-selection -->

                        </ul>
                    </ul>  

                </div> <!-- .app-left -->                      

            </div> <!-- .app-wrapper -->
        </div> <!-- .body-inner -->
        </div> <!-- .wrapper-->

        <div class="view-code">
            <a href="https://bitbucket.org/jallen9674/email-signature-standalone/src/master/" target="_blank"><img alt="View Source" src="./images/bitbucket-icon.svg"> View Source on Bitbucket</a>
        </div>
        <div class="copyright">
            <a href="https://jsallen.com/portfolio/">&laquo; Return to Portfolio</a>
        </div>
    
    </div>

    
    <!-- Adding List.js -->
    <script src="./js/vendor/list.js"></script>

    <!-- Adding Alertify -->
    <script src="./js/vendor/alertify.js"></script>
    
    <!-- Adding Axios -->
    <script src="./js/vendor/axios.js"></script>

    <!-- Adding Copy Text to Clipboard -->
    <script src="./js/vendor/clipboard-polyfill.js"></script>

    <!-- Adding Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

    <!-- Adding Email Template Generator -->
    <script src="./js/app/app.js?v=1.4" type="module"></script>
    

</body>
</html>