/*---------------------
General App Styles
----------------------*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: $sans-serif;
    font-size: 16px;
    background: #fff;
    color: #444;
    
}

.body-inner {
    background: linear-gradient(100deg,#434343 0,#005213 100%) no-repeat scroll center center/cover;
    min-height: 100vh;
    height: auto;
    padding-bottom: 10px;

    //SVG Shapes
    &:before {
        content: '';
        display: block;
        height: 140px;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        min-width: 800px;
        z-index: 10;
        background: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1800 900%22 preserveAspectRatio=%22none%22%3E\a         %3Cpath fill=%22%23dddddd%22 d=%22M2000,0V760.27L1814.51,250.6499a65.64207,65.64207,0,0,0-48.21-42.12988L721.5,24.64014a65.591,65.591,0,0,0-61.61,22.43994L.41992,833H0V0Z%22/%3E\a       %3C/svg%3E") no-repeat scroll center center/100% 100% border-box;

        @media screen and (max-width: 1400px) {
            height: 200px;
        }
    }

    &:after {
        content: '';
        display: block;
        height: 440px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        min-width: 2000px;
        z-index: 10;
        background: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1800 900%22 preserveAspectRatio=%22none%22%3E\a         %3Cpath fill=%22%23dddddd%22 d=%22M2000,496.21V1169H0V.06006L330.03,906.7998a65.71267,65.71267,0,0,0,50.22,42.14014l1042.80005,183.87988a65.55192,65.55192,0,0,0,61.59009-22.41992Z%22/%3E\a       %3C/svg%3E") no-repeat scroll center center/100% 100% border-box;
        @media screen and (max-width: 1400px) {
            height: 100px;
        }
    }
}


.wrapper {
    //max-width: 1300px;
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    line-height: 1.4;
    margin: 10px auto;
    font-family: $sans-serif;
    font-weight: 300;
}

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

hr {
    margin: 10px;
    
}

//Main Title Styles

.primary-title {
    color: #fff;
    font-weight: light;
    font-size: 45px;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    margin-top: 151px;
    text-align: left;
    position: relative;
    z-index: 20;
    font-weight: normal;
    

    span {
        display: block;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 300;
        color: #f0f0f0
    }
}


//Step Styles

.step-1 {

    //margin-bottom: 40px;
    width: 100%;

    h2 {
        font-size: 70px;
        color: #444;
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 1;
    }

   
    ol {
        list-style-type: disc;
        margin-left: 1em;
        font-size: 24px;
        color: #555;
        font-weight: 300;
        margin-bottom: 0;

        li {
            margin-bottom: 5px;
        }
    }
}


.step-2 {
    h2 {
        font-size: 70px;
        color: #444;
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 1;
    }

    ol {
        list-style-type: disc;
        margin-left: 1em;
        font-size: 24px;
        color: #555;
        font-weight: 300;
        margin-bottom: 1em;

        li {
            margin-bottom: 5px;
        }
    }
}

.app-wrapper {

    width: 100%;
    //max-width: 1010px;
    height: auto;
    margin: 0 auto;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    min-height: 600px;
    z-index: 20;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

} //End .app-wrapper

.app-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    padding: 10px;

    .list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        width: auto;
        padding: 10px;
        clear: both;
    }

    &--title {
        padding-bottom: 0;
    }
    
}

.app-title {
    padding: 10px;
    margin-bottom: 0;
}

.app-left {
    padding: 10px;
    width: calc(100% - 600px);

  
}

.app-right {
    padding: 10px;
    width: 600px;
    position: sticky;
    top: 0;
    right: 0;
    margin-right: 0;
    float: right; 

    small {
        line-height: 1.5;
        margin-top: 15px;
        display: block;
    }

    @media (max-width: 1300px){
        position: relative;
    }
}


.email-inputs {
   

    label {
        font-weight: bold;
        display: block;       
    }

    input {
        border: 1px solid #ccc;
        margin-top: 4px;
        margin-bottom: 15px;
        border-radius: 3px;
        padding: 10px;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;      
    }

    em {
        font-size: 14px;
    }

    small {
        display: block;
        width: 100%;
        margin: 3px 0;
        line-height: 1.5;
    }

    &__submit {
        border: 2px solid lightseagreen;
        color: #fff;
        background: darken(lightseagreen, 10%);
        transition: 0.2s;
        display: inline-block;
        vertical-align: top;
        max-width: 180px;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;  

        &:hover {
            background: lightseagreen;
        }
    }
} //End .email-inputs

.signature-input-row {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__input-group {
        width: calc(50% - 5px);
        box-sizing: border-box;
        

        &:nth-of-type(odd){
            margin-right: 5px;
        }

        &:nth-of-type(even){
            margin-left: 5px;
        }

        @media screen and (max-width: 767px){
            width: 100%;
            margin-right: 5px;;
            margin-left: 5px;;
        }
    }

} //End .signature-input-row


//Profile Selection Boxes
.app-output {

    border: 1px solid #e0e0e0;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin: 0 10px 10px 0px;
    width: 200px;
    text-align: center;
    transition: 0.2s;

    &:hover {
        border: 1px solid #ada7a7;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    img  {
        border-radius: 4px;
    }


    &__remove {
        border: 2px solid darkred;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        background: lighten(darkred, 10%);
        transition: 0.2s;
        margin-bottom: 5px;

        &:hover {
            color: #fff;
            background: darkred;
        }
    }

} //End .app-output

.copyarea {
    display: none;
}

.hide-preview {
    display: none; 
}
//Email Preview

.email-preview {

    table {
        margin-top: 0 !important;
    }

    background: #ffff;
    border: 2px solid skyblue;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

    &__inner {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
    }

    .preview-image {
        height: 70px;
        width: 70px;
    }

} //End .email-preview

//Button Styles

.button {
    width: 100%;
    max-width: 140px;
    font-size: 11px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 5px;
    font-size: 10px; 

    &--copy {
        border: 2px solid #b1dcb1;
        color: darkgreen;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px;
        background: lighten(#b1dcb1, 10%);
        transition: 0.2s;
        font-size: 12px;
        margin-right: 10px;

        &:hover {
            color: darken(darkgreen, 10%);
            background: #b1dcb1;
        }
    }

    &--preview {        
        border: 2px solid #296ec5;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 5px;
        background: lighten(#296ec5, 10%);
        transition: 0.2s;

        &:hover {
            color: darken(#fff, 10%);
            background: #296ec5;
        }    
    }
}


//Copyright Tagline

.copyright {
    margin: 20px;
    padding: 10px;
    color: #ccc;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            color: rgb(63, 149, 170);
        }
    }
}

//Team List Filter Styles
.team-list {
    .search-wrapper {
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        list-style-type: disc;
        margin-left: 1em;
        font-size: 24px;
        color: #555;
        font-weight: 300;
        margin-bottom: 1em;

        li {
            margin-bottom: 5px;
            list-style-type: disc;
        }

        input {
            padding: 4px 8px;
            line-height: 1.2;
            font-weight: 300;
            border-radius: 4px;
            font-size: 18px;
            border: 2px solid #068021;
            outline: none;
            box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;

            &:focus {
                border-color: lighten(#068021, 10%);
            }
        }          
    }
} //End .team-list



.view-code {
    font-size: 1.25em;
    display: block;
    vertical-align: bottom;
    margin: 2em auto 0.5em;
    width: 100%;
    max-width: 400px;
   
   a {
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        transition: 0.2s;
        display: block;
        text-align: center;

        &:hover {
            color: rgb(63, 149, 170);
        }
    }

    img {
        max-height: 20px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 3px;
    }
}
